if Type.toLowerCase() == "endcard"
    s
        case Scenario
            when 'Success' 
                emphasis(level="moderate")
                prosody(volume="loud") Your payee account 
                break(time="20ms")
                prosody(rate="slow") #{Payee_Short_Name} , successfully #{Is_A_Safe_Zone_Payee_Given}ed 
                prosody(volume="loud") as a safe-zone payee. 
                break(time="3s")
                | , Anything else?
            when 'InvalidPayee'
                prosody(volume="loud") Your transaction has been declined!   
                emphasis(level="moderate") Invalid payee name #{Payee_Short_Name}, 
                prosody(rate="slow") in your account 
                | ending with 
                prosody(rate="slow") 
                    say-as(interpret-as="characters") #{AccountNumber}
                break(time="3s")
                | , Anything else?
            when 'InvalidShortName' 
                prosody(volume="loud") I'm sorry, 
                emphasis(level="moderate") #{SZPayee} is not a valid short name. 
                break(time="30ms")
                prosody(rate="slow") Your transaction has been declined. 
                break(time="30ms")
                prosody(rate="slow") Please try again!
            when 'IsNotASafeZonePayee' 
                prosody(volume="loud") I'm sorry, 
                emphasis(level="moderate") #{SZPayee} is not a safe-zone payee. 
                break(time="30ms")
                prosody(rate="slow") Your transaction has been declined. 
                break(time="30ms")
                prosody(rate="slow") Please try again!
            default
                prosody(volume="loud") I'm sorry, 
                emphasis(level="moderate") Something went wrong, 
                break(time="30ms")
                prosody(rate="slow") Please try again!
        
else if Type.toLowerCase() == "validation"
    s
        case Scenario
            when 'Invalid4DCode' 
                prosody(volume="loud") I'm sorry, 
                emphasis(level="moderate") Invalid One Time Password, 
                break(time="45ms")
                prosody(rate="slow") Your transaction has been declined. 
                break(time="30ms")
                prosody(rate="slow") Please try again!
            
            when 'MissingStartDate' 
                prosody(volume="loud") Okay, tell me one
                emphasis(level="moderate") start date
            when 'MissingEndDate' 
                prosody(volume="loud") finally, tell me one
                emphasis(level="moderate") end date
            when 'MissingStartAndEndDates'
                prosody(volume="loud") Can you please repeat the dates?  
                emphasis(level="moderate") like from X-date to Y-date
            when 'InvalidDatePeriod'
                prosody(volume="loud") I'm sorry, I can help to get, 
                emphasis(level="moderate") only last one year transactions. 
                prosody(rate="slow")
                    say-as(interpret-as="date" format="md") #{new Date(Input).toLocaleString('default', { month: '2-digit', day: '2-digit' })} 
                | doesn't falls in that time line.
            default
                | I could not figure-out this time, 
                emphasis(level="moderate") try again in other words.
else
    | I could not figure-out this time, 
    emphasis(level="moderate") try again in other words.