
if ! Is_Tour_Completed
    if ! Reprompt_Message
        s 
            | Hello #{Title} #{First_Name}, 
            break(time="40ms") 
            | Welcome to 
            prosody(volume="loud") 
                prosody(rate="medium") #{Login.Institution_Name} 
            break(time="1s") 
            | I am your personal banker,
            | always here to help your day to day banking activities 
            break(time="1s") 
            prosody(volume="loud") I recommend a 
            emphasis(level="moderate") quick tour 
            | to explore this voice banking service.
            break(time="2s")
            prosody(volume="loud") Say 
            break(time="20ms")
            emphasis(level="strong") 'Okay' 
            | to continue.
    else 
        s
            prosody(volume="loud") Say 
            break(time="20ms")
            emphasis(level="strong") 'Okay' 
            | to continue.
else
    s
        +slow
            +loud
                | Hello #{Title} #{First_Name}, 
        +weak-break
        +slow
            | How may I help you now?